# macOS meta data files
.DS_Store

code/height_analysis/filtered_heights
code/height_analysis/filtered_heights_classes
code/height_analysis/height_stats

# LibreOffice lock files
.~lock.*#

# Python cache files
__pycache__/
*.pyc

.venv/