# macOS meta data files
.DS_Store

code/height_analysis/filtered_heights
code/height_analysis/filtered_heights_classes
code/height_analysis/height_stats
code/height_analysis/filtered_heights_diff/
code/height_analysis/filtered_heights_diff_stats/

code/age_analysis/age_delta_mean_plots
code/age_analysis/age_heatmaps
code/age_analysis/filtered_ages
code/age_analysis/logit_csv

# LibreOffice lock files
.~lock.*#

# Python cache files
__pycache__/
*.pyc

.venv/
